* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
  }

  .bg-image {
    background-image: url("imagenes/Copia\ de\ TP2\ Ilustración\ 3D-01.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
  }